'use strict';

module.exports = function(sequelize, DataTypes) {
  const model =  sequelize.define('model', {

  });

  // require association
  model.associate = function (models) {

  }

  return model
};

// Category
//
// Doors
//
// Seats
//
// Bags/suitcases
//
// Great for
//
// Mini
//
// 2/4
//
// 4
//
// 1 large
//
// City trips, for one or two people
//
// Economy
//
// 2/4
//
// 4/5
//
// 1 large
// 1 small
//
// City and short trips
//
// Compact
//
// 2/4
//
// 5
//
// 2 large
//
// City and mid-length trips
//
// Compact Estate
//
// 4
//
// 5
//
// 3 large
//
// City and mid-length trips with extra luggage
//
// Intermediate
//
// 4
//
// 5
//
// 2 large
// 1 small
//
// Mid-length to long trips
//
// Intermediate Estate
//
// 4
//
// 5
//
// 3 large
//
// Mid-length to long trips with extra luggage
//
// Standard
//
// 4
//
// 5
//
// 2 large
// 1 small
//
// Mid-length to long trips with extra comfort
//
// Standard Estate
//
// 4
//
// 5
//
// 3 large
//
// Mid-length to long trips with extra comfort and luggage
//
// Full-size
//
// 4
//
// 5
//
// 3 large
//
// Long trips, extra comfort and better performance
//
// Full-size Estate
//
// 4
//
// 5
//
// 3 large
//
// Long trips with extra luggage
//
// Luxury
//
// 4
//
// 5
//
// 3 large
//
// Travelling in style
//
// Convertible
//
// 2
//
// 4
//
// 1–2 large
//
// Open-air driving experience
//
// SUV
//
// 4
//
// 5
//
// 1–3 large
//
// Long trips and rural roads
//
// People Carrier
//
// 4
//
// 7-9
//
// 2–6 large
//
// Groups and large families
